.work {
    padding: 140px 0 100px;
}
.work__row {
    justify-content: space-between;
}
.work__description {
    margin: 20px 0 60px;
}
.work__item {
    margin-bottom: 30px;
}
.work__num {
    display: inline-flex;
    width: 40px;
    height: 40px;
    border: 1px solid #DADEDF;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}
.work__detail {
    margin-left: 30px;
}
.work__subtitle {
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: var(--color-black);
    margin-bottom: 10px;
}
.work__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color:var(--color-gray);
}
.work button + button {
    margin-left: 16px;
}